<?php

define("PURURIN_DATA", __DIR__."/assets/pururin");

define("DB_HOST", "localhost");
define("DB_NAME", "hn");
define("DB_USER", "louvian");
define("DB_PASS", "louvianlyndal");
define("DB_PORT", "3306");
